body {
   font-family: 'Roboto', sans-serif;
   background: linear-gradient(to bottom, #e6f2e6, #ffffff);
   color: #2f4f4f;
}

/* Header and Navbar */
.navbar {
   background-color: #056b56;
   color: white;
   padding: 1rem 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: sticky;
 }
 